USE [master]
GO
CREATE DATABASE [NodeJs]
GO

USE [NodeJs]
GO

CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [City]) VALUES (1, N'علی رضایی', N'09120000001', N'ali@example.com', N'تهران')
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [City]) VALUES (2, N'مریم احمدی', N'09120000002', N'maryam@example.com', N'اصفهان')
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [City]) VALUES (3, N'33', N'33', N'33', N'33')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 2, CAST(750000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (2, 1, 3, 1, CAST(120000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (3, 2, 2, 3, CAST(45000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount]) VALUES (1, 1, CAST(N'2025-11-10T11:05:25.077' AS DateTime), CAST(1620000.00 AS Decimal(12, 2)))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount]) VALUES (2, 2, CAST(N'2025-11-10T11:05:25.077' AS DateTime), CAST(135000.00 AS Decimal(12, 2)))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount]) VALUES (3, 1, CAST(N'2025-11-10T11:28:27.660' AS DateTime), CAST(222222.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [Stock]) VALUES (1, N'مسواک برقی', CAST(750000.00 AS Decimal(10, 2)), 20)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [Stock]) VALUES (2, N'خمیر دندان', CAST(45000.00 AS Decimal(10, 2)), 100)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [Stock]) VALUES (3, N'دهان‌شویه', CAST(120000.00 AS Decimal(10, 2)), 50)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO

CREATE TABLE [dbo].[Users] ([Id] [INT] IDENTITY(1, 1) NOT NULL PRIMARY KEY,
[Email] [NVARCHAR](250) NOT NULL,
[FullName] [NVARCHAR](250) NOT NULL,
[Password] [NVARCHAR](250) NOT NULL,
[Jwt] [NVARCHAR](MAX) NOT NULL,
[JwtIssuedAt] [DATETIME] NOT NULL,
[JwtExpiresAt] [DATETIME] NOT NULL);


USE [master]
GO


